@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <h1 align="center">
        <b>Agenda</b> - where every second counts.
    </h1>
    <h3 align="center">
        Powerful instrument that helps you manage your time.
        Don’t miss a moment, because every minute can unlock new opportunities. 
        <b>Agenda Calendar</b> - your key to time management, your tool for crafting history!
    </h3>
</body>
