@using AgendaCalendar.WEB_APP.ViewModels.Calendar
@model EditCalendarViewModel
@{
    ViewData["Title"] = "Edit calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Edit calendar</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@Model.Id" id="@Model.Id" name="id"/>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" name="title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" name="description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm editting" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
