html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
}

body {
    margin-bottom: 60px;
}

#side_nav {
    min-width: 250px;
    max-width: 30%;
    background: white;
    transition: all 0.2s;
    border: 3px solid black;
}

.sidebar li.active {
    background: #eee;
    border-radius: 8px;
}

    .sidebar li.active a, .sidebar li.active a:hover {
        color: #000;
    }

.sidebar li a {
    color: #fff;
}

.fullcalendar-container {
    height: 100%;
    max-width: 100%;
}

.content {
    width: 70%; /* 70% of the viewport width */
    overflow: hidden; /* Hide the scrollbar */
}

    .content .container-fluid {
        height: 100%; /* Fit height of the container */
    }

.body-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-width: 100%;
}

.main-container {
    display: flex;
    height: 100vh;
}

.calendar-menu {
}

    .calendar-menu ul {
    }

    .calendar-menu li {
    }

.edit-btn, .delete-btn {
    margin-right: 10px;
}


.eventIfnormationCard {
    display: none;
    position: fixed;
    z-index: 1;
    left: auto;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
    max-width: 600px;
    max-height: 600px;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    box-shadow: #eeeeee 5px 5px;
}

.event-card-btn-group {
}

.edit-event-btn {
    display: none;
}

@media(max-width: 767px) {
    #side_nav {
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }

        #side_nav.active {
            margin-left: 0;
        }
}
